/* ProfilePage.css */
body, h1, p, ul, li, nav {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #E9D5CC;
}

header {
    background-color: #0B7784;
    color: #F9C2A6;
    padding: 10px 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #36A79B;
}

nav a {
    color: #F9C2A6;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav a:hover, nav a:focus {
    background-color: #FE9F67;
    color: #0B7784;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 10px;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav a {
        padding: 10px;
        text-align: center;
    }
}


nav a:focus {
    outline: 3px solid #FE9F67;
}

.content {
    text-align: center; /* Center-aligns all content */
}

.big-text {
    font-size: 24px;
    margin: 20px 0;
    color: #0B7784;
}

.bubble {
    background-color: #0B7784;
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}
